*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/******HEADER******/

header{
    width: 100%;
    background-color:  #281a0c;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

header .contenedor{
    position: relative;
    height: 700px;
}

header .menu{
    width: 100%;
    text-align: right;
}

header .menu a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    position: relative;
}

header .menu a:hover{
    text-decoration: underline;
}

header .titulos{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .titulos h1{
    font-size: 50px;
    font-weight: 600;
}

header .titulos h1 span{
    font-weight: 300;
}

header .titulos h3{
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
}

/*****MAIN*****/

main{
    background: url(../img/bg-textura.png);
    background-repeat: repeat;
}

main .acercade .contenedor{
    overflow: visible;
    position: relative;
}

main .acercade .contenedor .foto{
    width: 80%;
    position: absolute;
    left: 0px;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

main .acercade .contenedor .foto img{
    vertical-align: top;
    width: 100%;
}

main .acercade article{
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 150px;
    float: right;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);

}

main .acercade article h2{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

main .acercade article p{
    line-height: 28px;
    margin-bottom: 15px;
}